@import './sass/base';
// theme over-rides base colors / fonts / images etc.
@import './sass/_theme';

body{
  font-family: 'Playfair Display', serif;
}
  
  .icon-block {
    padding: 0 15px;
  }
  .icon-block .material-icons {
    font-size: inherit;
  }
  
  footer.page-footer {
    margin: 0;
  }
  