// font-family
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,800;1,400;1,500;1,800&display=swap');

// colors
// --main
$main-purple :#574F66;
$main-cream : #f2e3d5;
$main-salmon : #F2A391;
$main-teal : #2E728C;
$main-blue : #22374F;
// --light
$light-purple: #c96da7;
$light-cream : #fffcf9;
$light-salmon : rgb(255, 204, 193);
$light-teal : rgb(141, 206, 231);
$light-blue : rgb(60, 102, 150);
// --dark
$main-purple : rgb(192, 50, 140);
$main-cream : #f5c08f;
$main-salmon : rgb(245, 133, 108);
$main-teal : rgb(31, 84, 107);
$main-blue : rgb(17, 39, 63);
